.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__logo {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  padding-left: 258px;
  padding-top: 8px;
  height: 64px;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;

  color: #e5e5e5;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 85px;
  height: 94px;
  background-color: #292929;
  padding-left: 258px;
}

.header__link {
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;

  color: #ffffff;
  cursor: pointer;
}
.header__banner {
}
