.reviews__item {
    box-sizing: border-box;
    scroll-snap-align: start;
    flex: 0 0 646px;
    display: flex;
    gap: 34px;
  }
  
  .reviews__item-img {
    width: 206px;

    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  
  .reviews__item-content {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 10px;
    padding-top: 28px;
  }
  
  .reviews__item-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
  
    margin-bottom: 18px;
  }
  
  .reviews__item-text {
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    line-height: 100%;
  
    color: rgba(146, 143, 148, 1);
    position: relative;
  }
  
  .reviews__item-text::before {
    content: "“";
    position: absolute;
    top: 0px;
    left: -22px;
    font-size: 36px;
    color: rgba(146, 143, 148, 1);
  }
  
  .reviews__item-text::after {
    content: "”";
    position: absolute;
    bottom: -16px;
    right: 7px;
    font-size: 36px;
    color: rgba(146, 143, 148, 1);
  }
  
