.direction {
}

.direction__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.direction__inputs {
  display: flex;

  gap: 5px;
  background-color: black;
}

.direction__swap-button {
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 35px;
}
.direction__swap-icon {
  width: 24px;
  height: 24px;
}
