.how {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 575px;
  width: 100%;
  padding: 80px 11%;
  z-index: 1;
  overflow: hidden;
}

.how::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: rgb(191 142 12);
  z-index: 0;
}

.how::after {
  content: "";
  position: absolute;
  top: -128px;
  left: -46px;
  height: 127%;
  width: 105%;

  background-image: url("/img/how-bg.png");
  background-size: cover;

  background-repeat: no-repeat;
  opacity: 0.25;
  z-index: 1;
}

.how__header {
  display: flex;
  justify-content: space-between;
}

.how__title {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 100%;

  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 111px;
  position: relative;
  z-index: 2;
}

.how__button {
  width: 325px;
  height: 60px;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 100%;
  color: #ffffff;

  text-align: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  z-index: 2;
}

.how__content {
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
  position: relative;
  z-index: 2;
}

.how__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 226px;
  gap: 31px;
}

.how__icon {
  width: 162px;
  height: 162px;
}

.how__icon-text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;

  text-align: center;
  color: #e5e5e5;
}
.how__icon-text-first {
  padding: 0 15px;
  position: relative;
  top: 4px;
}

.how__icon-text-second {
  position: relative;
  top: 5px;
}
