.filter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(62, 60, 65, 1);
  margin-bottom: 30px;
}

.filter__date {
  box-sizing: border-box;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  padding: 5%;
}

.filter__date-from {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter__date-to {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;

  color: rgba(255, 255, 255, 1);
}
.filter__date-input {
  width: 100%;
}

.filter__toggles {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  padding: 5% 5% 5% 15%;
}

.filter__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.filter__toggle-options {
  display: flex;
  gap: 30px;
}
.filter__toggle-icon {
  width: 17px;
}

.filter__toggle-label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;

  display: flex;
  text-align: start;

  color: rgba(255, 255, 255, 1);
}

.filter__toggle-switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 19px;
  cursor: pointer;
}

.filter__toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  border-radius: 20px;
}

.filter__toggle-slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: -3px;
  bottom: -4px;
  background-color: rgba(196, 196, 196, 1);
  transition: 0.4s;
  border-radius: 50%;
}

.filter__toggle-switch input:checked + .filter__toggle-slider {
  background-color: rgba(252, 220, 157, 1);
}

.filter__toggle-switch input:checked + .filter__toggle-slider:before {
  transform: translateX(48px);
  background-color: rgba(255, 168, 0, 1);
}

.filter__price{
  box-sizing: border-box;
    gap: 10px;
    width: 100%;
    display: flex
;
    flex-direction: column;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    padding: 5%;
}

.filter__price-container {

}
.filter__price-slider {

}