.payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.payment__container {
  box-sizing: border-box;
  width: 100%;
  display: flex;

  background-color: rgba(247, 245, 249, 1);
  padding: 5% 5%;

  gap: 7%;
}

.payment__section {
  width: 25%;
}

.payment__content {
  box-sizing: border-box;
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
