.passenger-form {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;

  height: auto;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(146, 143, 148, 1);
}

.passenger-form__header {
  padding: 4%;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(249, 249, 249, 1);
  border-bottom: 1px solid rgba(146, 143, 148, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passenger-form__header-title {
  display: flex;
  gap: 20px;
  align-items: center;

  font-weight: 400;
  font-size: 30px;
  line-height: 100%;

  color: rgba(41, 41, 41, 1);
}
.passenger-form__header-open-button {
  width: 32px;
  background-color: transparent;
  border: none;
}
.passenger-form__header-icon {
  width: 32px;
}

.passenger-form__header-button {
  width: 12px;
  background-color: transparent;
  border: none;
  color: rgba(146, 143, 148, 1);
}

.passenger-form__header-button:hover {
  color: rgba(255, 168, 0, 1);
}

.passenger-form__select {
  box-sizing: border-box;
  width: 280px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;

  color: rgba(41, 41, 41, 1);
  border: 1px solid rgba(146, 143, 148, 1);
  border-radius: 5px;
  position: relative;
}

.passenger-form__select-icon {
  position: absolute;
  right: 10px;
  top: 20px;
}
.passenger-form__info {
  padding: 4%;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(146, 143, 148, 1);
}

.passenger-form__name {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.passenger-form-input {
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;

  color: rgba(41, 41, 41, 1);
  border: 1px solid rgba(146, 143, 148, 1);
  border-radius: 5px;
  padding: 5px;
}
.passenger-form-label {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  color: rgba(146, 143, 148, 1);
}

.passenger-form__sex-age {
  display: flex;
  gap: 30px;
      align-items: center;
}
.passenger-form__sex {
  display: flex;
  flex-direction: column;
}
.gender-radio {
  display: none;
}

.gender-buttons {
  display: flex;
  border: 1px solid rgba(146, 143, 148, 1);
  border-radius: 5px;
  margin-top: 10px;
}

.gender-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 1);

  font-weight: 900;
  font-size: 30px;
  line-height: 100%;

  text-transform: uppercase;

  cursor: pointer;
  transition: all 0.2s ease;
}

.gender-radio:checked + .gender-label {
  background-color: rgba(255, 168, 0, 1);

  border-color: rgba(255, 168, 0, 1);
}

.passenger-form__limitation {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  color: rgba(41, 41, 41, 1);
  margin-top: 20px;
}

.passenger-form__docs-container {
  border-bottom: 1px solid rgba(146, 143, 148, 1);
}

.passenger-form__docs {
  display: flex;
  padding: 4%;
  gap: 30px;
  align-items: center;
}

.passenger-form__passport-input {
  display: flex;

  gap: 30px;
  align-items: center;
}

.passenger-form-button-container {
  box-sizing: border-box;
  width: 100%;
  padding: 4%;
  display: flex;
  justify-content: flex-end;
}
.passenger-form-button {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 100%;

  text-align: center;

  color: rgba(41, 41, 41, 1);
  background-color: transparent;
  border: 1px solid rgba(41, 41, 41, 1);
  border-radius: 5px;

  padding: 1%;
}

.passenger-form__error {
  box-sizing: border-box;
  width: 100%;
  padding: 4%;
  display: flex;
  align-items: center;

  background-color: rgba(255, 61, 0, 0.38);
}

.passenger-form__error-icon {
  margin-right: 10px;
}
