.success {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.success__content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: -5% 0 7%;
}
