.reviews {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: auto;
  max-height: 748px;
  padding: 0 11%;
}

.reviews__title {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 100%;
  color: #292929;
  text-transform: uppercase;
  padding-left: 3px;
  margin-top: 8%;
  margin-bottom: 4%;
}

.reviews__content {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  gap: 77px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  margin-bottom: 127px;
  scroll-behavior: smooth;

  width: calc((646px * 2) + 77px + 254px * 2);
  max-width: 100%;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.reviews__more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.circle__icon {
  color: rgba(229, 229, 229, 1);
}

.circle__icon-active {
  color: rgba(196, 196, 196, 1);
}
