.sort-select__control {
  width: 100%;
  border: none;
  background: transparent;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.sort-select__menu {
    box-sizing: border-box;
  width: 100%;
  background-color: #f9f6fa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-top: -30px;
  border-radius: 0;
}

.sort-select__option {
  padding: 12px 16px;
  font-size: 16px;
  color: #2c2c2c;
  cursor: pointer;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.sort-select__option--is-focused {
  background-color: #f1f1f1;
}

.sort-select__option--is-selected {
  background-color: #f9f6fa;
  font-weight: 600;
}

.sort-select__single-value {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;

  color: #2c2c2c;


}

.sort-select__indicator,
.sort-select__indicator-separator {
  display: none;
}
