.city__input-container {
  position: relative;
  width: 100%;
  max-width: 322px;
}
.city__input {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 100%;

  width: 100%;
    min-width: 215px;
    max-width: 322px;
  

  height: 60px;
  border-radius: 3px;
  padding: 10px;
  padding-right: 40px;
  margin-bottom: 5px;
}

.city__ghost-text {
  position: absolute;
  top: 21px;
  left: 13px;

  font-size: 1.125rem;
  line-height: 100%;
  font-weight: 400;

  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}

.city__ghost-transparent {
  color: transparent;
}

.city__ghost-visible {
  color: rgba(41, 41, 41, 0.3);
  margin-left: -2px;
}

.city__input-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: rgba(229, 229, 229, 1);
  pointer-events: none;
}

.city__suggestions {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.city__list {
  display: flex;
  flex-direction: column;
  gap: 17px;
  box-sizing: border-box;
  width: 100%;
  padding: 17px;
  border-radius: 3px;
  background-color: #ffffff;
}

.city__item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 100%;

  font-variant: small-caps;
  color: rgba(41, 41, 41, 1);
}
