@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
code,
menu {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  color: #e5e5e5;
  cursor: pointer;
}

.icon:hover {
  color: #ffca62;
}

.icon:active {
  color: #ffca62;
}

.dark-button {
  color: #e5e5e5;
  background-color: #2d2b2f;
  cursor: pointer;

  border: 1px solid #ffffff;
  border-radius: 3px;
}

.dark-button:hover {
  color: #2d2b2f;
  background-color: #ffca62;
  border-color: #ffca62;
}

.dark-button:active {
  color: #2d2b2f;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.clear-button {
  color: rgba(41, 41, 41, 1);

  cursor: pointer;

  border: 1px solid rgba(41, 41, 41, 1);
  border-radius: 5px;
}

.clear-button:hover {
  color: rgba(255, 168, 0, 1);
}

.clear-button:active {
  color: rgba(41, 41, 41, 1);
  background-color: rgba(255, 168, 0, 1);
  border-color: rgba(255, 168, 0, 1);
}

.shadow-button {
  cursor: pointer;
}

.shadow-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.shadow-button:active {
  color: rgba(255, 168, 0, 1);
  border-color: rgba(255, 168, 0, 1);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
